<h1>Editing Air Quality Measurement</h1>

<%= render 'form', air_quality_measurement: @air_quality_measurement %>

<%= link_to 'Show', @air_quality_measurement %> |
<%= link_to 'Back', air_quality_measurements_path %>
